# composer dependencies
vendor/
composer.json
composer.lock

# environment
.env

# vs code settings folder
.vscode/

# os system files
Thumbs.db

# xampp / apache logs & php session files
*.log
/tmp/
